html, body {
    height: 100%;
    font-family: 'Saira Extra Condensed', sans-serif;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    background-color: lightgreen;
}

h1 {
    font-size: 45pt;
    font-family: 'IBM Plex Sans', sans-serif;
    margin-bottom: 15px;
}

h2 {
    font-size: 33pt;
    font-family: 'IBM Plex Sans', sans-serif;
    margin-bottom: 25px;
}

label {
    font-size: 22pt;
    font-family: 'IBM Plex Sans', sans-serif;
    margin-left: 15px;
}

input {
    font-size: 20pt;
    font-family: 'IBM Plex Sans', sans-serif;
    margin-left: 15px;
    margin-right: 15px;
}

button {
    font-size: 16pt;
    font-family: 'IBM Plex Sans', sans-serif;
}

#top {
    display: flex;
    flex-direction: row;
    flex-basis: 0;
    flex-grow: 3;
    background-color: cornflowerblue;
    padding: 50px 100px 0 100px;
}

#topContent {
    display: flex;
    flex-direction: column;
    background-color: crimson;
    flex-basis: 0;
    flex-grow: 2;
}

#hourlyWeather {
    display: flex;
    flex-basis: 0;
    flex-grow: 2;
    background-color: lightcoral;
    /*justify-content: space-evenly;*/
}

.hourly {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: lightseagreen;
    padding: 20px;
    flex-basis: 0;
    flex-grow: 1;
    border-right: 1px solid gray;
}

.hourly p:first-child {
    font-size: 25pt;
}

.hourly img {
    width: 150px;
}


.hourly p:last-child {
    font-size: 75pt;
}

#currentWeather {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: darkturquoise;
    margin-left: 125px;
    flex-grow: 2;
}

#currentWeather div {
    display: flex;
    flex-direction: column;
    font-size: 35pt;
}

#currentTemp {
    font-size: 85pt;
}

#currentTime {
    margin-top: 10px;
}

#currentIcon {
    width: 200px;
    margin-left: 50px;
    margin-right: 50px;
}


#enterCity {
    background-color: cornsilk;
    flex-basis: 0;
    flex-grow: 1;
}

#doppler {
    background-color: blue;
    flex-basis: 0;
    flex-grow: 1;
    position: relative;
    /*align-items: center;*/
    /*justify-content: center;*/
}

#doppler img {
    max-width: 100%;
    height: auto;
    position: absolute;
    max-height: 100%;
    border-radius: 50%;
}

.hide {
    display: none;
}

