#currentIcon {
    width: 150px;
}

.hourlyIcon {
    width: 100px;
}

#doppler {
    display: flex;
    background-color: blue;
}

/*#doppler img {*/
/*    max-width: 100%;*/
/*    height: auto;*/
/*}*/

.dopplerImg {
    position: absolute;
}

#container {
    position: absolute;
}

#cities {
    position: absolute;
}

.hide {
    display: none;
}